body {
    margin: 0;
    overflow: hidden;
}

#startScreen {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width:100vw;
    height:100vh;
    position:absolute;
    top:0;
    left:0;
    background-color: black;
    color: white;
    text-align:center;
    z-index:3;
}

#ar-frame {
    width:100vw;
    height:100vh;
    position:absolute;
    top:0;
    left:0;
}

#ar-viewer {
    display:block;
    z-index:-1;
}